body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pokeball {
  visibility: hidden;
  position: absolute;
  bottom: 10%;
  left: 30%;
}

.pokeball.thrown {
  visibility: visible;
  animation-name: ball;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

.struggling {
  animation-name: caught;
  animation-delay: 1.1s;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.attacking {
  animation-name: attacking;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.opponentAttacking {
  animation-name: opponentAttacking;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.damaging {
  animation-name: damaging;
  animation-duration: 0.1s;
  animation-iteration-count: 10;
  animation-fill-mode: forwards;
}

@keyframes caught {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes damaging {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opponentAttacking {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes attacking {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes ball {
  0% {
    transform: rotate(360deg);
  }
  99% {
    transform: rotate(1800deg);
    bottom: 65%;
    left: 30%;
  }
  100% {
    transform: rotate(1800deg);
    left: 28%;
    bottom: 65%;
  }
}
