body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pokeball {
  visibility: hidden;
  position: absolute;
  bottom: 10%;
  left: 30%;
}

.pokeball.thrown {
  visibility: visible;
  animation-name: ball;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.struggle {
  animation-name: oponnent;
  animation-delay: 1.9s;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes oponnent {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ball {
  0% {
    transform: rotate(360deg);
  }
  99% {
    transform: rotate(1800deg);
    bottom: 65%;
    left: 30%;
  }
  100% {
    transform: rotate(1800deg);
    left: 28%;
    bottom: 65%;
  }
}
